/* ADD YOUR CUSTOM STYLES BELOW


/*LANDING PAGE PHOTO*/

.cover-image {
    /*background:#fff url(http:www.yourdomain.com/data/uploads/ocean.jpg);
    background-position:center bottom;
    background-repeat: no-repeat;*/
}



h1,h1 a, h2, h2 a, h3, h3 a, h4, h4 a, a {
/*color:#006FA0;*/

}

a:visited {
    /*color:#75BBDD;*/
}


/*SITE NAME AND TAGLINE*/
.branding h1,.branding h1 a, .branding h2, .branding h2 a,.branding h3,.branding h3 a {
    /*color:#fff;*/
    
}

/*MENUS AND HEADER*/
.menu-toggle {
    /*border-bottom:1px groove #ccc;
    background:#63AACE;
    color:#fff;*/
}

.menu-container {
    
    /*background:#63AACE;*/
}


.menu ul li a {
    /*color:#fff;*/
}

.menu ul li:hover {
    
    /*background: #006FA0;*/
}


    
.cover-text {
    color:#fff;
}
    
    
.cover-text h1 a, .tag {
   /* color:#fff;
    background:#3F7998;*/
}

/*MAIN CONTENT DIVS*/
.main {
    /*background: #fff;*/
}

 
    
.sidebar {
   
   /* background:#fff;*/
    
}


.footer {
    /*
    background:#006FA0;
    color: #fff;
    */
    
}

